# for Python 3.10.4
torch==1.12.1
torchvision==0.13.1
numpy==1.23.2
matplotlib==3.5.3
scipy==1.9.1
tqdm==4.64.0
imageio==2.9.0
pandas==1.4.4
h5py==3.7.0
opencv-python==4.6.0.66
pillow==6.2.2
SimpleITK==2.2.0
